**/catkin*
CATKIN*
/lib
/atomic*
/bin
CMakeFiles
cmake*
/gtest
CMakeCache.txt
CTest*
Makefile
**/build
**/devel
/.VSCodeCounter
*.JPG
**__pycache__**
/.idea
observation_request.txt
observation_log.csv
